.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    margin-left: auto;
    margin-right: auto;


   
}

.cards{
    width: 6%;
    height: 650px;
    margin-left: 0.5%;
    margin-right: 0.5%;


  
}

.active{
    width:70%;
    height: 650px;

    margin-left: 1.5%;
    margin-right: 1.5%;

}
img{
    width: 99%;
    height: 99%;
    object-fit: cover;


}